@import url('https://fonts.googleapis.com/css2?family=Judson&family=Quando&display=swap');

:root {
    --primary-white: #ffffff;
    --primary-black: #0a0505;
    --accent-red: #ad1b0b;
    --accent-blue: #2049c5;
    --accent-green: #305a2b;
}

* {
    margin: 0;
    padding: 0;
    border: none;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    font-family: "Judson", sans-serif ;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

h1,h2 {
    font-family: "Quando",sans-serif;
    text-align:center;

}

.header{
    display: flex;
    align-items: center;
    justify-content: center;
    position: sticky;
    width: 100%;
    background-color: lightgray;
}

.logo{
    padding: 1rem 0;
}

#hero-img{
    background-image: url(../images/hero-img.jpg);
    background-size: cover;
    background-position: top;
    background-repeat: no-repeat;
    width: 100%;
    min-height: 60rem;
    overflow: hidden;
}

#quiz-signup{
    display: flex;
    flex-direction: column;
    align-items: center;
    

}

#start-quiz-form{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem 0;
    margin: 2rem 0;
    background-color: var(--accent-blue);
    box-shadow: 0 0 1.6rem var(--accent-blue);
    border-radius: .5rem;
}

.form-label{
    margin: 1rem 0;
    color: var(--primary-white);
}

.form-fields{
    padding: .5rem;
    margin: 1rem;
    width: 75%;
    border-radius: 1rem;
    font-family: "Judson", sans-serif;
    font-size: 1.6rem;
}
/* div that contains the two buttons How to play and Leaderboard */

.btn--container{
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* buttons throughout the home page (incl. start quiz, how to play and leaderboard) */ 

.btn {
    margin: 1rem 0;
    padding: 1rem;
    border-radius: .5rem;
}

.footer{
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: lightgray;
}

/* social media icons in the site footer*/ 

.social-icons-list{
    display: flex;
    align-items: center;
    justify-content: center;
    list-style: none;
    gap: 1rem;
    padding: 1rem;
}

.social-icons-link {
    color: #0a0505;
}

#div-container{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
}

#how-to-play-check{
    color: var(--primary-white);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: .5rem;
    width: fit-content;
    padding: 2rem;
    background-color: var(--accent-blue);
    box-shadow: 0 0 1.6rem var(--accent-blue);
    
}

.check-text{
    text-align: center;
}

@media only screen and (min-width:768px) {
    .btn--container{
        display: flex;
        flex-direction: row;
        justify-content: center;
        gap: 2rem;
        margin-top: 2rem;}
}
