@import url('https://fonts.googleapis.com/css2?family=Judson&family=Quando&display=swap');

:root {
    --primary-white: #ffffff;
    --primary-black: #0a0505;
    --accent-red: #ad1b0b;
    --accent-blue: #2049c5;
    --accent-green: #305a2b;
    --twitter-blue: #1877F2;
}

* {
    margin: 0;
    padding: 0;
    border: none;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    font-family: "Judson", sans-serif ;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-image: url(../images/background-image.jpeg);
    background-size: cover;
}

h1,h2 {
    font-family: "Quando",sans-serif;
    text-align:center;
}

/* site header */ 

.header{
    display: flex;
    align-items: center;
    justify-content: center;
    position: sticky;
    width: 100%;
}

.logo{
    padding-top: 4rem;
    width:18rem;
}

.section-header{
    color: var(--primary-white);
}

/* buttons throughout the home page (incl. start quiz, how to play and leaderboard) */ 

.btn {
    margin: 1rem 0;
    padding: 1rem;
    border-radius: .5rem;
    cursor: pointer;
}

.btn:active {
    transform: translateY(.5rem);
}

.container {
    margin: auto 0 ;
}

/* Start quiz form and buttons */ 

#quiz-signup{
    display: flex;
    flex-direction: column;
    align-items: center;
}

#start-quiz-form{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem 0;
    margin: 2rem 0;
    border-radius: .5rem;
    min-width: 25%;
}

.form-label{
    margin: 1rem 0;
    color: var(--primary-white);
    font-weight: bold;
    letter-spacing: .2rem;
}

.form-fields{
    padding: .5rem;
    margin: 1rem;
    width: 75%;
    border-radius: 1rem;
    font-family: "Judson", sans-serif;
    font-size: 1.6rem;
}

#leaderboard--and--How-to-play{
    display: none;
}
/* div that contains the two buttons How to play and Leaderboard */

.btn--container{
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* initial content that is displayed after the user submits the form, this asks the user if they have read the instructions */ 

#how-to-play-check{
    color: var(--primary-white);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: .5rem;
    width: fit-content;
    padding: 2rem;
    box-shadow: 
        rgb(0 0 0 / 17%) 0px -23px 25px 0px inset, 
        rgb(0 0 0 / 15%) 0px -36px 30px 0px inset, 
        rgb(0 0 0 / 10%) 0px -79px 40px 0px inset, 
        rgb(0 0 0 / 6%) 0px 2px 1px, 
        rgb(0 0 0 / 9%) 0px 4px 2px, 
        rgb(0 0 0 / 9%) 0px 8px 4px, 
        rgb(0 0 0 / 9%) 0px 16px 8px, 
        rgb(0 0 0 / 9%) 0px 32px 16px;    
    backdrop-filter: blur(15px);
    gap: 2rem; 

}

#rules-modal{
    background-image: url(../images/rules-modal-image.jpeg);
    background-size: cover;
}

#how-to-play-list {
    list-style-type: none;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    min-height: 50%;
    margin-left: 4rem;
    position: relative;
    left: 0;
    width: 75%;
}

.how-to-play-list-item{
    display: flex;
    flex-direction: row;
    gap: 3rem;
    margin: 1rem 0;
}

.rules {
    margin: auto 0;
}

#wrong-icon {
    color: var(--accent-red);
    font-size: 3rem;
}

#correct-icon{
    color: var(--accent-green);
    font-size: 3rem;
}

#next-icon{
    color: var(--accent-blue);
    font-size: 3rem;
}

#time-icon{
    color: var(--primary-black);
    font-size: 3rem;
}

.check-text{
    text-align: center;
}

#button-close-rules-modal{
    min-width: 25%;
    background-color: var(--accent-red);
    color: var(--primary-white);
    font-weight: bolder;
    margin: 0 auto;
    font-size: 1.5rem;
    
}

/* style of quiz */ 

.hide {
    display: none;
}

/*countdown timer that appears when the quiz starts */ 

#scoreboard {
    display: none;
    justify-content: space-evenly;
    flex-direction: row;
    text-align: center;
    margin: auto 0;
}

#correct--answers {
    color: var(--accent-green);
    margin-left: 1rem;
}

#incorrect--answers{
    color: var(--accent-red);
    margin-left: 1rem;
}

.answers{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

/*Question text*/

#question{

    text-align: center;
    color: var(--primary-white);
}

/* div that contains both the questio and answers */

#quiz-container{
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-width: 120rem;
    padding: 2rem;
    background-color: var(--accent-blue);
    box-shadow: 0 0 1.6rem var(--accent-blue);
    border-radius: .5rem;
    margin: auto;
}

/* answers */ 

.btn--grid{
    display: grid;
    grid-template-columns: repeat(2, auto);
    gap: 1rem;
    margin: 2rem 0 ;
}

.question--btn{
    background-color: var(--primary-white);
    box-shadow: 0 0 .5rem var(--primary-white);
    border-radius: .5rem;
    padding: 1rem;
    color: var(--primary-black);
}

.question--btn:hover {
    box-shadow: 0 0 .5rem var(--primary-black);
    transform: translateY(-.5rem);
}

.question--btn--correct{
    box-shadow: 0 0 .5rem var(--accent-green);
    border-radius: .5rem;
    padding: 1rem;
    color: var(--primary-white);
    background-color: var(--accent-green);
    pointer-events: none;
}

.question--btn--incorrect{
    box-shadow: 0 0 .5rem var(--accent-red);
    border-radius: .5rem;
    padding: 1rem;
    color: var(--primary-white);
    background-color: var(--accent-red);
    pointer-events: none;
}

/*next button that appears under the answer buttons */ 

#next-btn {
    font-size: 1.6rem;
    font-weight: bold;
    padding: 1rem;
    box-shadow: 0 0 .5rem var(--primary-white);
    border-radius: .5rem;
}

#next-btn:active{
    transform: translateY(.5rem);
}

/* div that contains the next button */ 

.controls{
    display: flex;
    align-items: center;
    justify-content: center; 
}

/* modal style for both the results modal and how to play modal */ 

.modal {
    flex-direction: column;
    justify-content: space-between;
    margin: auto;
    text-align: left;
    padding: 3rem;
    border-radius: 1rem;
    min-height: 50%;
    padding: 2rem;
}

#results-modal{
    background-image: url(../images/rules-modal-image.jpeg);
    background-size: contain;
    text-align: center;
}

#results-container{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

#results-message{  
}

#results-icon{
    font-size: 3rem;
}

#button-close-results-modal{
    border: .1rem;
    border-radius: 0.5rem;
    cursor: pointer;
    min-width: 25%;
    background-color: var(--accent-red);
    color: var(--primary-white);
    font-weight: bolder;
    margin: 0 auto;
    font-size: 1.5rem;
}

/* footer elements */ 

.footer{
    margin-top: auto;
    width: 100%;
}

/* social media icons in the site footer*/ 

.social-icons-list{
    display: flex;
    align-items: center;
    justify-content: center;
    list-style: none;
    gap: 2rem;
    padding: 1rem;
}

.social-icons-link {
    font-size: 2rem;
    color: var(--primary-white);
}

#twitter{
    background-color: var(--twitter-blue) ;
    border-radius: 50%;
    padding: 1.5rem;
    margin: 1rem;
}

#facebook{
    background-color: var(--twitter-blue) ;
    border-radius: 50%;
    padding: 1.5rem;
    margin: 1rem;
}

#instagram{
    background-color: var(--twitter-blue) ;
    border-radius: 50%;
    padding: 1.5rem;
    margin: 1rem;
}

#check-container{
    display: none;
    align-items: center;
    justify-content: center;
    margin: auto;

}

/* Media Queries */

@media only screen and (min-width:768px) {
    .btn--container{
        display: flex;
        flex-direction: row;
        justify-content: center;
        gap: 2rem;
        margin-top: 2rem;}
}
