@import url('https://fonts.googleapis.com/css2?family=Judson&family=Quando&display=swap');

:root {
    --primary-white: #ffffff;
    --primary-black: #0a0505;
    --accent-red: #ad1b0b;
    --accent-blue: #2049c5;
    --accent-green: #305a2b;


}

* {
    margin: 0;
    padding: 0;
    border: none;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    font-family: "Judson", sans-serif ;
}

h1,h2 {
    font-family: "Quando",sans-serif;
    text-align:center;

}

.header{
    display: flex;
    align-items: center;
    justify-content: center;
}

.logo{
    padding: 1rem 0;
}

.container {
}

#start-quiz-form{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem 0;
}

/* div that contains the two buttons How to play and Leaderboard */

#btn--container{
    display: flex;
    flex-direction: column;
    align-items: center;
}


/* social media icons in the site footer*/ 

.social-icons-list{
    display: flex;
    align-items: center;
    justify-content: center;
    list-style: none;
    gap: 1rem;
    padding: 1rem;
}